.button {
    width: 5.625rem;
    height: 3.25rem;
    background-color: var(--blueDark);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--blue);
    transition: 0.5s;
}

.button > p{
    color: var(--gray-100);
    font-weight: bold;
    font-size: .875rem;
}

